<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>work01</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

<servlet>
<servlet-name>work</servlet-name>
<servlet-class>work.WorkServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>work</servlet-name>
<url-pattern>/work</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>serv</servlet-name>
<servlet-class>serv.ServServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>serv</servlet-name>
<url-pattern>/serv</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>resu</servlet-name>
<servlet-class>resu.ResultServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>resu</servlet-name>
<url-pattern>/resu</url-pattern>
</servlet-mapping>

</web-app>